<!-- <form #form="ngForm" (ngSubmit)="handleSubmit(form)">
  <input type="text" [(ngModel)]="user.firstName" name="firstName" /> <br>
  <input type="text" [(ngModel)]="user.lastName" name="lastName" /> <br>
  <input type="number" [(ngModel)]="user.age" name="age" /> <br>
  <button>Add</button>
</form>

<ng-container *ngIf="userList.length; then showUsers else noUsers"></ng-container>

<ng-template #showUsers>
  <ul *ngFor="let user of userList">
    <li>{{user.firstName}} {{user.lastName}} -- {{user.age}} </li>
  </ul>
</ng-template>
<ng-template #noUsers>There is no users to show</ng-template> -->

<app-form-template></app-form-template>